#score_number {
  font-size: 2.5em;
}

#score_title {
  font-size: 1.2em;
  opacity: 0.75;
}

#explanation {
  color: #404040;
  margin-bottom: 50px;
  font-size: 1.1em;
}

.cards-grid-container {
  margin-bottom: 2rem;
  grid-template-columns: 1fr 1fr !important;
}

img.cards-image {
  cursor: pointer;
}

.text {
	color: #ffffff;
}

.cards-image-mask {
	text-align: center !important;
}

.description_pop {
	font-size: 1.1em;
	margin-top: 0.8em;
	margin-bottom: 2em;
	color: #BFBFBF;
}

.leaderboard {
	text-align: center;
}

@media only screen and (max-device-width: 767px) {
  .centered-container.w-container {
    text-align: center !important;
  }

  .heading-4 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .description_pop {
    padding: 0px 10px 0px 10px;
    line-height: 1.5em;
  }

  .cards-grid-container {
    grid-template-rows: none !important;
    padding-bottom: 0px !important;
  }

  h3 {
    font-size: 1.4em;
  }
}